.content-card-container {
  margin: 0px 60px 0px 40px;
}

.card-content{
  padding-right: 50px;
  padding-left: 50px;
  margin: 0px auto;
  width: 100%;
}

.card-container {
  padding-left: 58px;
  margin-bottom: 36px;
}

.card {
  width: 300px;
}

.card:hover {
  width: 303px;
  box-shadow: 0 4px 8px 0 darkgray, 0 6px 20px 0 darkgray;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
}

.card-subtitle {
  font-weight: 400;
}

.material-numbers {
  padding-left: 15px;
}

.card-text {
  font-size: 13px;
}

.card-footer {
  margin: 0px;
  background: #eaf7fe;
  padding: 10px 14px 10px 15px;
}
