#loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 0.99;
    width: 120px;
    height: 120px;
    margin: 20% 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
#regular-loader {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 50% 0;
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid black;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  